<nav
  class="nav flex-column bg-light align-items-start justify-content-between py-4"
>
  <!-- nav-brand logo -->
  <div class="navbar flex-column py-0">
    <a class="navbar-brand mb-4" href="#">ANSWER </a>
    <!-- nev-item menu -->
    <ul class="list-unstyled">
      <li class="nav-item list-unstyled">
        <a class="text-dark d-flex align-items-center" href="#">
          <span class="material-icons me-3"> assessment </span
          ><span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item list-unstyled">
        <a class="text-dark d-flex align-items-center" href="#"
          ><span class="material-icons me-3"> question_answer </span
          ><span>Question</span></a
        >
      </li>
      <li class="nav-item list-unstyled">
        <a class="text-dark d-flex align-items-center" href="#"
          ><span class="material-icons me-3"> assignment </span
          ><span>Assignment</span></a
        >
      </li>
      <li class="nav-item list-unstyled">
        <a class="text-dark d-flex align-items-center" href="#"
          ><span class="material-icons me-3"> video_library </span
          ><span>Course</span></a
        >
      </li>
      <li class="nav-item list-unstyled">
        <a class="text-dark d-flex align-items-center" href="index.html"
          ><span class="material-icons me-3"> supervisor_account </span
          ><span>Admin</span></a
        >
      </li>
      <li class="nav-item list-unstyled">
        <a class="text-dark d-flex align-items-center" href="#"
          ><span class="material-icons me-3"> settings </span
          ><span>Settings</span></a
        >
      </li>
    </ul>
  </div>
  <!-- member -->
  <div class="member d-flex align-items-center">
    <div class="memberPic me-3"></div>
    <div class="memberInfo">
      <p class="text-dark fw-bold mb-1">Andy Chen</p>
      <p class="text-gray600 mb-0 fz-sm">andy0401@mail.com</p>
    </div>
  </div>
</nav>
