.main {
  margin-left: 296px;
  min-height: 100vh;
}
// modal內
.verify-btn {
  width: 100%;
  height: 50px;
  border-color: $gray-400;
}

//select下拉選單
.form-select {
  height: 51px;
}

// customAccess
.customAccess {
  .form-check-input {
    border-radius: 0;
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}
.modal-footer {
  .btn {
    border-radius: 2px;
  }
}

.cancel-btn {
  &:hover {
    color: $success;
    background: $white;
  }
}
// header icon
.cursor {
  cursor: pointer;
  &:hover {
    color: $success;
  }
}
// visibility Modal
// .modal-content {
//   flex-direction: row;
// }

.member-modal-content {
  min-width: 480px;
}
.modal-pic {
  min-width: 141px; //避免被flex影響而壓縮寬度
  height: 141px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emir.jpeg?raw=true);
  background-position: center;
  background-size: cover;
}

.verifiedTag {
  padding: 4px 8px;
  border-radius: 8px;
}
// 控制折疊選單icon變換
.expand-less {
  display: inline-block;
}
.expand-more {
  display: none;
}
.collapsed .expand-more {
  display: inline-block;
}
.collapsed .expand-less {
  display: none;
}
