.main {
  margin-left: 296px;
  min-height: 100vh;
}
// modal內
.verify-btn {
  width: 100%;
  height: 50px;
  border-color: $gray-400;
}

.access-btn {
  width: 100%;
  height: 50px;
  border-color: $gray-900;
  color: $gray-600;
  text-align: left;
  &:hover {
    background: $white;
    color: $gray-600;
  }
  &:active {
    background: $white;
    color: $gray-600;
  }
  &::after {
    content: "";
    border-top: 0;
    position: absolute;
  }
}
.customAccess {
  .form-check-input {
    border-radius: 0;
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}
.modal-footer {
  .btn {
    border-radius: 2px;
  }
}

.cancel-btn {
  &:hover {
    color: $success;
    background: $white;
  }
}
// header icon
.cursor {
  cursor: pointer;
  &:hover {
    color: $success;
  }
}
// visibility Modal
// .modal-content {
//   flex-direction: row;
// }

.member-modal-content {
  min-width: 480px;
}
.modal-pic {
  width: 141px;
  height: 141px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emir.jpeg?raw=true);
  background-position: center;
  background-size: cover;
}
// .modal-body {
//   padding: 0px;
// }
.verifiedTag {
  padding: 4px 8px;
  border-radius: 8px;
}

.expand-less {
  display: none;
}
.expand-more {
  display: inline-block;
}
.collapsed .expand-more {
  display: inline-block;
}

.collapsed .expand-less {
  display: none;
}
.me-107 {
  margin-right: 107px;
}
.me-163 {
  margin-right: 163px;
}
